@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --surface: #F5F5F5;
  --on-surface: #4E4E4E;
  --surface-container: #FFFFFF;

}

@media (prefers-color-scheme: dark) {
  :root {
    --surface: #131313;
    --surface-container: #272A2D;
    --on-surface: #FFFFFF;
  }
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

